<div>
    <h1>About</h1>
    <p>
        Decameron deriva dal greco e letteralmente significa "di dieci giorni". Il titolo è un rimando all'Exameron ("di sei giorni") di Sant'Ambrogio, una riformulazione in versi del racconto biblico della Genesi. Il titolo in greco è anche sintomo dell'entusiastica riscoperta dei classici della commedia e della tragedia ellenica, non filtrati in latino prima dalla Roma imperiale e poi da quella cristiana. L'intenzione di Boccaccio è costruire un'analogia tra la propria opera e quella di Sant'Ambrogio: come il santo narra la creazione del mondo e dell'umanità, allo stesso modo il Decameron narra la ricreazione dell'umanità, che avviene per mezzo dei dieci protagonisti e del loro novellare, in seguito al flagello della peste abbattutasi a Firenze nel 1348.

A mano a mano che si susseguono i racconti dei protagonisti, tramite essi vengono ricostruiti l'immagine, le strutture relazionali e i valori dell'umanità e della società che altrimenti sarebbero perduti, dal momento che la città è sotto l'effetto distruttivo e paralizzante della peste. Si tratta di una metafora importante, in quanto esprime la concezione preumanistica di Boccaccio nella quale le humanae litterae (qui rappresentate dalle cento novelle) hanno la facoltà di rifondare un mondo distrutto e corrotto. In particolare, è notevole la capacità del Boccaccio di passare dal sublime al triviale e viceversa senza soluzione di continuità, pur mantenendo costante la sua estrema avversità rispetto alle aberrazioni e ai soprusi.
    </p>
    <p>Boris & Davide</p>
</div>

